body{
    margin: 0px;
    padding: 0px;
    display: flex;
}
.container{
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    
}
.child{
    width: 350px;
    height: 320px;
    /* border: 1px solid black; */
    margin: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}
img{
    width: 100%;
    height: 100%;
}
.child p{
    opacity: 0;
    position:absolute;
    font-size:50px;
    /* top: 20%;
    left: 40%; */
    transition: all 2s ease;
}
.child:hover img {
    display: none;
}
.child:hover p{
    opacity: 1;
}

.child1:hover , .child8:hover{
    background-color: rgb(248, 250, 137);
}
.child2:hover, .child7:hover{
    background-color:rgb(254, 190, 145);
}
.child3:hover, .child6:hover{
    background-color: rgb(248, 152, 203);
}
.child4:hover, .child5:hover{
    background-color: rgb(169, 248, 169);
}
